---
const { author, date, description, featured, title, url } = Astro.props
console.log(Astro.props)

const dateOptions: object = {
  year: "numeric",
  month: "long",
  day: "numeric"
}

const formattedDate = new Date(date).toLocaleDateString("en-US", dateOptions)
---

<li class={featured ? "featured" : ""}>
  <a href={url} target="_blank"><h3 class="title">{title}</h3></a>
  <p class="author">
    {formattedDate}
  </p>
  <p class="author">
    {author}
  </p>
  <p>
    {description}
  </p>
</li>
