---
const { author, date, description, featured, title, url } = Astro.props

const offsetDate = new Date(date.getTime() - date.getTimezoneOffset() * -60000)
const dateOptions: object = {
  year: "numeric",
  month: "long",
  day: "numeric"
}
const formattedDate = new Date(offsetDate).toLocaleDateString(
  "en-US",
  dateOptions
)
---

<li class={featured ? "featured" : ""}>
  <a href={url} target="_blank"><h3 class="title">{title}</h3></a>
  <p class="dim">
    {formattedDate}
  </p>
  <p class="dim">
    {author}
  </p>
  <p>
    {description}
  </p>
</li>
